/Code Arduino/interface/data.csv
/Code Arduino/interface/.venv
/Code Arduino/interface/.env
/Code Arduino/interface/.idea
/PCB/Tests/History
/Code arduino/interface/__pycache__
/Code arduino/interface/__pycache__
